#LeftContainer{
    height: fit-content;
    max-width: 500px;
    width: 30vw;
    min-width: 20rem;
    background: linear-gradient(-90deg, rgba(0, 75, 70, 0.521) 0%, rgba(0, 0, 0, 0.596) 100%);
    padding: 30px 20px 40px;
    position: relative;
    display: flex;
    flex-direction: column;
    .topDescription{
        display: flex;
        align-items: center;
        .classLogo{
            height: 21vh;
            margin-left: -4vw;
            margin-top: -5vw;
        }
        .titles{
            margin-left: 10px;
            h1{
                color: #fff;
                font-size: 5.2vh;
                line-height: 2.2vw;
            }
            h2{
                color: #ffcb30;
                font-size: 1.2vw;
            }
            .difficulty{
                display: flex;
                align-items: center;
                p {
                    color: grey;
                    margin-right: 1rem;
                    font-size: 2vh;
                    line-height: 1vw;
                }
                .star{
                    font-size: 3.6vh;
                    line-height: 2vw;
                    margin-top: -2px;
                    margin-right: 5px;
                    &.active{
                        background: -webkit-linear-gradient(#02b9db, #01788e);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                }
            }
        }
    }

    .description{
        color: #e0e0e0;
        font-size: 1.7vh;
        margin-top: 5px;
        padding: 0 1vw;
    }

    .bar{
        margin: 14px auto;
        height: 1px;
        width: 70%;
        background: rgba(128, 128, 128, 0.212);
    }

    .caracteristiques{
        position: relative;
        display: flex;  
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
        row-gap: 15px;
        .carac{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .caracLogo{
                width: 7vh;
                height: 7vh;
                margin-right: 1rem;
            }
            .caracText{
                width: 100%;
            }
            .caracName{
                color: #e0e0e0;
                font-size: 2.6vh;
                font-weight: bold;
            }
            .caracDesc{
                color: #a3a3a3;
                font-size: 1.6vh;
            }
            
        }
    }

}

@media (max-height: 800px) {
    #LeftContainer{
        height: fit-content;
        max-width: 600px;
        min-width: 300px;
    }
  }

  @media (max-height: 650px) and (min-width: 500px) {
    .description{
        display: none;
    }
    .bar.toHide{
        display: none;
    }
  }

  @media (max-width: 600px) {
    #LeftContainer{
        max-width: unset;
        min-width: unset;
        width: 100%;
        background: none;
        padding: 0px 20px 40px;
        position: relative;
        display: flex;
        flex-direction: column;
        .topDescription{
            display: flex;
            align-items: center;
            flex-direction: column;
            .classLogo{
                height: 21vh;
                margin-left: 0vw;
                margin-top: 0vw;
            }
            .titles{
                margin-left: 0px;
                h1{
                    margin-top: 1vh;
                    font-size: 5.2vh;
                    line-height: 5.2vh;
                    text-align: center;
                }
                h2{
                    font-size: 4vh;
                    text-align: center;
                }
                .difficulty{
                    height: 50px;
                    width: 100%;
                    justify-content: center;
                    margin: 0 auto;
                    p {
                        margin-right: 1rem;
                        font-size: 3vh;
                        line-height: 3vh;
                        color: #ffffffb0;
                    }
                    .star{
                        font-size: 3.6vh;
                        line-height: 3.6vh;
                        margin-right: 5px;
                    }
                }
            }
            
        }
        .caracteristiques{

            .carac{

                .caracDesc{
                    color: #d8d8d8;
                    font-size: 1.6vh;
                }
            }
        }
        .bar{
            margin: 3vh auto;
        }
    }
  }