#mainWrapper{
  height: 100vh;
  width: 100vw;
  background-color: #000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 40% 10%;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  #choose{
    position: absolute;
    width: 100vw;
    top: 5%;
    h1{
      color: #fff;
      font-size: 2rem;
      text-transform: uppercase;
      text-align: center;
      text-shadow: 1px 1px 1px #000;
    }
  }
}

@media (max-width: 600px) {
  #mainWrapper{
    flex-direction: column;
    height: auto;
    background-size: 500%;
    background-position: 65% 0%;
    background-color: #01414a;
    gap: 0px;
    #choose{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position:absolute;
      top: 0;
      .logoDofus{
        min-width: 65vw;
      }
    }

  }
  #LeftContainer{
    order: 3
  }
  #Character{
    order: 1
  }
  #RightContainer{
    order: 4;
  }
}


